.button-container {
    margin: 7px;
    display: flex;
}
.button {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    outline: none;
    margin: 0 7px 0 7px;
}
.button.active {
    background-color: #007bff;
    color: #fff;
}