<div style="width:100%">

  <mat-card class="app-card">
    <mat-card-title-group>
      <mat-card-title>Info</mat-card-title>
      <img mat-card-lg-image src="./assets/info160.png" style="margin-bottom: 5px;">
    </mat-card-title-group>
    <mat-card-content>

<p>Diese Anwendung ermöglicht es, Inhalte, die auf den Community Mirrors im
Community Mirror Netzwerk an der Universität der Bundeswehr angezeigt 
werden auch auf dem Mobiltelefon anzuzeigen (mitzunehmen).</p>

<p>Siehe auch <a href="https://www.communitymirrors.net/">https://www.communitymirrors.net/</a></p>

<p><b>Kontakt:</b><br/>
Prof. Dr. Michael Koch<br/>
Universität der Bundeswehr München<br/>
michael.koch@unibw.de<br/>
<a href="https://www.unibw.de/michael.koch">https://www.unibw.de/michael.koch</a>
</p>
    </mat-card-content>
  </mat-card>

</div>
